{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $wsl := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $archlinux := eq .chezmoi.osRelease.id "arch" -}}

sourceDir: {{ .chezmoi.sourceDir }}

data:
    archlinux: {{ $archlinux }}
    codespaces: {{ $codespaces }}
    wsl: {{ $wsl }}
