{{/*
Need to use bot homedir and homeDir due to https://github.com/twpayne/chezmoi/issues/463
That seems not to manifest always.
*/}}
{{- with (default (get .chezmoi "homedir")) }}
bin = "{{ . }}/.local/bin/terraform"
{{ end -}}
{{- with (default (get .chezmoi "homeDir")) }}
bin = "{{ . }}/.local/bin/terraform"
{{ end -}}
