HYPHEN_INSENSITIVE="true"
COMPLETION_WAITING_DOTS="true"
HISTORY_SUBSTRING_SEARCH_FUZZY=1

### Fix slowness of pastes with zsh-syntax-highlighting.zsh
pasteinit() {
    OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
    zle -N self-insert url-quote-magic # I wonder if you'd need `.url-quote-magic`?
}

pastefinish() {
    zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish
### Fix slowness of pastes


################################################################################
# zgenom
################################################################################
ZGEN_RESET_ON_CHANGE=("${HOME}/.zshrc")
source "${HOME}/.zgenom/zgenom.zsh"
zgenom autoupdate --background

# if the init scipt doesn't exist
if ! zgenom saved; then
    echo "Creating a zgen save"

    ZGENOM=GIT_CONFIG_GLOBAL='' zgenom
    ${ZGENOM} oh-my-zsh

    # plugins
    ${ZGENOM} oh-my-zsh plugins/git
    ${ZGENOM} oh-my-zsh plugins/golang
    ${ZGENOM} oh-my-zsh plugins/gradle
    ${ZGENOM} oh-my-zsh plugins/httpie
    ${ZGENOM} oh-my-zsh plugins/mercurial
    ${ZGENOM} oh-my-zsh plugins/npm
    ${ZGENOM} oh-my-zsh plugins/pip
    ${ZGENOM} oh-my-zsh plugins/python
    ${ZGENOM} oh-my-zsh plugins/systemd
    ${ZGENOM} oh-my-zsh plugins/thefuck
    ${ZGENOM} oh-my-zsh plugins/ubuntu

    ${ZGENOM} load zsh-users/zsh-autosuggestions

    ${ZGENOM} load djui/alias-tips
    ${ZGENOM} load Tarrasch/zsh-bd
    ${ZGENOM} load ytakahashi/igit
    ${ZGENOM} load zdharma-continuum/fast-syntax-highlighting

    ${ZGENOM} load "${HOME}/.zsh/alias"
    ${ZGENOM} load "${HOME}/.zsh/completion"
    ${ZGENOM} load "${HOME}/.zsh/fzf"
    ${ZGENOM} load "${HOME}/.zsh/op_session"
    ${ZGENOM} load "${HOME}/.zsh/zoxide"

    {{ if eq .chezmoi.os "linux" }}
    {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    ${ZGENOM} load "${HOME}/.zsh/wsl_agent_bridge"
    ${ZGENOM} load "${HOME}/.zsh/wsl_home"
    {{   end }}
    {{ end }}

    # completions
    ${ZGENOM} load zsh-users/zsh-completions src

    # theme
    ${ZGENOM} load "${HOME}/.zsh/prompt"

    # save all to init script
    ${ZGENOM} save
fi
