HYPHEN_INSENSITIVE="true"
COMPLETION_WAITING_DOTS="true"
HISTORY_SUBSTRING_SEARCH_FUZZY=1

### Fix slowness of pastes with zsh-syntax-highlighting.zsh
pasteinit() {
    OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
    zle -N self-insert url-quote-magic # I wonder if you'd need `.url-quote-magic`?
}

pastefinish() {
    zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish
### Fix slowness of pastes


################################################################################
# zgenom
################################################################################
ZGEN_RESET_ON_CHANGE=("${HOME}/.zshrc")
source "${HOME}/.zgenom/zgenom.zsh"
zgenom autoupdate --background

# if the init scipt doesn't exist
if ! zgenom saved; then
    echo "Creating a zgen save"

    zgenom oh-my-zsh

    # plugins
    zgenom oh-my-zsh plugins/bgnotify
    zgenom oh-my-zsh plugins/git
    zgenom oh-my-zsh plugins/golang
    zgenom oh-my-zsh plugins/gradle
    zgenom oh-my-zsh plugins/httpie
    zgenom oh-my-zsh plugins/mercurial
    zgenom oh-my-zsh plugins/npm
    zgenom oh-my-zsh plugins/pip
    zgenom oh-my-zsh plugins/python
    zgenom oh-my-zsh plugins/systemd
    zgenom oh-my-zsh plugins/thefuck
    zgenom oh-my-zsh plugins/ubuntu

    zgenom load zsh-users/zsh-autosuggestions

    zgenom load djui/alias-tips
    zgenom load Tarrasch/zsh-bd
    zgenom load ytakahashi/igit
    zgenom load zdharma-continuum/fast-syntax-highlighting

    zgenom load "${HOME}/.zsh/alias"
    zgenom load "${HOME}/.zsh/completion"
    zgenom load "${HOME}/.zsh/fzf"
    zgenom load "${HOME}/.zsh/op_session"
    zgenom load "${HOME}/.zsh/zoxide"

    {{ if eq .chezmoi.os "linux" }}
    {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    zgenom load "${HOME}/.zsh/wsl_agent_bridge"
    zgenom load "${HOME}/.zsh/wsl_home"
    {{   end }}
    {{ end }}

    # completions
    zgenom load zsh-users/zsh-completions src

    # theme
    zgenom load "${HOME}/.zsh/prompt"

    # save all to init script
    zgenom save
fi
