{{- if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

set -e

packages=(
    aria2
    aws-cli-v2
    bat
    diff-so-fancy
    dive
    dog
    duf
    dust
    eksctl
    exa
    fx
    fzf
    go
    gping
    helm
    hexyl
    htop
    hyperfine
    jq
    k9s
    kubectl
    kubectx
    lazydocker
    lazygit
    libqalculate
    man-db
    mc
    most
    openssh
    peco
    procs
    protobuf
    python
    python-pip
    reflector
    s3cmd
    skaffold
    socat
    starship
    step-cli
    terraform
    tfswitch
    tig
    tmux
    traefik
    unzip
    vim
    vpnc
    wget
    zoxide
    zsh
)

install_yay() {
    tmp=$(mktemp -d)
    trap "rm -rf ${tmp}" EXIT
    sudo pacman -Sy --needed git base-devel --noconfirm
    git clone https://aur.archlinux.org/yay.git "${tmp}"
    cd "${tmp}" || exit 1
    makepkg -si --noconfirm
}

pacman -Qs yay > /dev/null || install_yay
yay -Syyu --noconfirm --sudoloop

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
yay  --needed --noconfirm --sudoloop -U ~/.local/share/chezmoi/dot_archlinux/fake-docker-1.0.0-1-any.pkg.tar.zst
sudo libtool --finish /usr/lib/libfakeroot
yay -S --needed --noconfirm --sudoloop wslu
{{   end }}
{{ end }}

yay -Sy --needed --noconfirm --sudoloop ${packages[*]}

# {{ end }}
