#!/bin/bash

# hash: {{ include "dot_vundle.vim" | sha256sum }}

HOME_=${HOME}
HOME= git clone https://github.com/VundleVim/Vundle.vim.git ${HOME_}/.vim/bundle/Vundle.vim
vim -u "${HOME}/.vundle.vim" +PluginInstall +qall
