{{- if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

set -e

packages=(
    aria2
    aws-cli
    bat
    bazelisk
    dive-bin
    dog
    duf
    dust
    eksctl
    exa
    fx
    fzf
    go
    gping
    helm
    hexyl
    htop
    jq
    k9s
    kind
    kubectl
    kubectx
    lazydocker
    man-db
    mc
    most
    openssh
    peco
    procs
    protobuf
    python
    reflector
    s3cmd
    skaffold
    starship
    step-cli
    terraform
    tfswitch
    tig
    tmux
    traefik
    unzip
    vim
    vpnc
    wget
    zellij
    zsh
)

install_yay() {
    tmp=$(mktemp -d)
    trap "rm -rf ${tmp}" EXIT
    sudo pacman -Sy --needed git base-devel
    git clone https://aur.archlinux.org/yay.git "${tmp}"
    cd "${tmp}" || exit 1
    makepkg -si
}

pacman -Qs yay > /dev/null || install_yay

yay -Sy --needed --noconfirm --sudoloop ${packages[*]}

# {{ end }}
