{{- if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash

set -e

packages=(
    aria2
    bazel
    fzf
    go
    htop
    jq
    k9s
    kubectl
    kubectx
    logo-ls
    man-db
    mc
    most
    openssh
    protobuf
    python
    reflector
    starship
    tmux
    traefik
    unzip
    vim
    vpnc
    wget
    zsh
)

install_yay() {
    tmp=$(mktemp -d)
    trap "rm -rf ${tmp}" EXIT
    sudo pacman -Sy --noconfirm --needed git base-devel
    git clone https://aur.archlinux.org/yay.git "${tmp}"
    cd "${tmp}" || exit 1
    makepkg -si
}

pacman -Qs yay > /dev/null || install_yay

yay -Sy --needed --noconfirm ${packages[*]}

# {{ end }}
