#!/bin/zsh
# chezmoi version: {{ output "chezmoi" "--version" | sha256sum }}
# gs version: {{ output "gs" "--version" | sha256sum }}
# hatch version: {{ output "hatch" "--version" | sha256sum }}
# helm version: {{ output "helm" "version" "--short" | sha256sum }}
# kind version: {{ output "kind" "--version" | sha256sum }}
# kubectl version: {{ output "kubectl" "version" "--client" | sha256sum }}
# op version: {{ output "op" "--version" | sha256sum }}
# uv version: {{ output "uv" "--version" | sha256sum }}

mkdir -p "${HOME}/.zsh/completions"

chezmoi completion zsh > "${HOME}/.zsh/completions/_chezmoi"
gs shell completion zsh > "${HOME}/.zsh/completions/_gs"
_HATCH_COMPLETE=zsh_source hatch > "${HOME}/.zsh/completions/_hatch"
helm completion zsh > "${HOME}/.zsh/completions/_helm"
kind completion zsh > "${HOME}/.zsh/completions/_kind"
kubectl completion zsh > "${HOME}/.zsh/completions/_kubectl"
op completion zsh > "${HOME}/.zsh/completions/_op"
uv generate-shell-completion zsh > "${HOME}/.zsh/completions/_uv"
