[profile h2o-trial]
role_arn = arn:aws:iam::875909552513:role/CrossAccountAdminSignin
source_profile = default

[default]
{{/*
Need to use bot homedir and homeDir due to https://github.com/twpayne/chezmoi/issues/463
That seems not to manifest always.
*/}}
{{- with (default (get .chezmoi "homedir")) }}
credential_process = op inject -i {{ . }}/.config/h2o.ai/aws.credentials.json
{{ end -}}
{{- with (default (get .chezmoi "homeDir")) }}
credential_process = op inject -i {{ . }}/.config/h2o.ai/aws.credentials.json
{{ end -}}
