#!/bin/bash

# hash: {{ include "dot_install/02-gotools/packages.txt" | sha256sum }}

grep -vE '^\s*#|^\s*$' packages.txt | sed 's/\s*#.*$//' | xargs -n1 -P0 -t go install

# Install packages that cannot be install on Windows

# pistol is a previewer for various file types.
go install github.com/doronbehar/pistol/cmd/pistol@latest
