#!/bin/bash

# hash: {{ include "dot_install/02-gotools/go.sum" | sha256sum }}
go install tool


// Install packages that cannot be install on Windows

// pistol is a previewer for various file types.
go install github.com/doronbehar/pistol/cmd/pistol@latest
