{
  "default": "catppuccin-{{ .catppuccin.flavor }}",
  "themes": {
    "catppuccin-latte": {
      "title_fg": "#8839ef",
      "pane_border": "#bcc0cc",
      "selected_pane_border": "#a7c1f5",
      "side_pane_border": "#9ca0b0",
      "selected_side_border": "#9dd6ef",
      "header_bg": "#ccd0da",
      "header_fg": "#4c4f69",
      "footer_bg": "#e6e9ef",
      "footer_fg": "#6c6f85",
      "line_number": "#9ca0b0",
      "ours_highlight_bg": "#b2d5af",
      "ours_highlight_fg": "#40a02b",
      "theirs_highlight_bg": "#e5a2b4",
      "theirs_highlight_fg": "#d20f39",
      "result_fg": "#4c4f69",
      "result_highlight_bg": "#bcc0cc",
      "result_highlight_fg": "#4c4f69",
      "modified_bg": "#a7c1f5",
      "modified_fg": "#4c4f69",
      "added_bg": "#cce1cd",
      "added_fg": "#40a02b",
      "removed_bg": "#e9c4cf",
      "removed_fg": "#d20f39",
      "conflicted_bg": "#e9cfaa",
      "conflicted_fg": "#4c4f69",
      "insert_marker_fg": "#d20f39",
      "selected_hunk_marker_fg": "#40a02b",
      "selected_hunk_marker_bg": "#bcc0cc",
      "selected_hunk_bg": "#ccd0da",
      "status_resolved_fg": "#40a02b",
      "status_unresolved_fg": "#d20f39",
      "result_resolved_marker_fg": "#40a02b",
      "result_resolved_border": "#40a02b",
      "result_unresolved_border": "#d20f39",
      "toast_bg": "#e6e9ef",
      "toast_fg": "#4c4f69",
      "selector_resolved_fg": "#40a02b",
      "selector_unresolved_fg": "#d20f39",
      "dim_foreground_light": "#eff1f5",
      "dim_foreground_dark": "#4c4f69",
      "dim_foreground_muted": "#9ca0b0"
    },
    "catppuccin-macchiato": {
      "title_fg": "#5c517c",
      "pane_border": "#494d64",
      "selected_pane_border": "#47557b",
      "side_pane_border": "#6e738d",
      "selected_side_border": "#4a6475",
      "header_bg": "#363a4f",
      "header_fg": "#cad3f5",
      "footer_bg": "#1e2030",
      "footer_fg": "#a5adcb",
      "line_number": "#6e738d",
      "ours_highlight_bg": "#51655a",
      "ours_highlight_fg": "#a6da95",
      "theirs_highlight_bg": "#6a485a",
      "theirs_highlight_fg": "#ed8796",
      "result_fg": "#cad3f5",
      "result_highlight_bg": "#494d64",
      "result_highlight_fg": "#cad3f5",
      "modified_bg": "#47557b",
      "modified_fg": "#cad3f5",
      "added_bg": "#3e4b4c",
      "added_fg": "#a6da95",
      "removed_bg": "#4c3a4c",
      "removed_fg": "#ed8796",
      "conflicted_bg": "#6a635d",
      "conflicted_fg": "#cad3f5",
      "insert_marker_fg": "#ed8796",
      "selected_hunk_marker_fg": "#a6da95",
      "selected_hunk_marker_bg": "#494d64",
      "selected_hunk_bg": "#363a4f",
      "status_resolved_fg": "#a6da95",
      "status_unresolved_fg": "#ed8796",
      "result_resolved_marker_fg": "#a6da95",
      "result_resolved_border": "#a6da95",
      "result_unresolved_border": "#ed8796",
      "toast_bg": "#1e2030",
      "toast_fg": "#cad3f5",
      "selector_resolved_fg": "#a6da95",
      "selector_unresolved_fg": "#ed8796",
      "dim_foreground_light": "#cad3f5",
      "dim_foreground_dark": "#181926",
      "dim_foreground_muted": "#6e738d"
    }
  }
}
