#!/bin/bash

{{- range .packages.go -}}
go install {{ . }}
{{- end }}

# Install packages that cannot be install on Windows

# pistol is a previewer for various file types.
go install github.com/doronbehar/pistol/cmd/pistol@latest
